<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxjavaeg1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".operator.interval_and_timer.IntervalActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".operator.interval_and_timer.TimerActivity" />
        <activity android:name=".operator.just_range_repeat.JustOperatorActivity" />
        <activity android:name=".operator.from_operator.FromArrayOperatorActivity" />
        <activity android:name=".operator.from_operator.FromIterableOperatorActivity" />
        <activity android:name=".operator.future.FutureActivity" />
        <activity android:name=".operator.publisher.PublisherActivity" />
        <activity android:name=".operator.filter.FilterActivity" />
        <activity android:name=".operator.distinct.DistinctFunActivity" />
        <activity android:name=".operator.take_and_takewhile.TakeActivity" />
        <activity android:name=".operator.take_and_takewhile.TakeWhileActivity" />
        <activity android:name=".operator.transformation.map.MapTranxActivity" />
        <activity android:name=".operator.transformation.buffer.SimpleBufferActivity" />
        <activity android:name=".operator.transformation.buffer.UIBufferActivity" />
        <activity android:name=".operator.transformation.debounce.DebounceActivity" />
        <activity android:name=".operator.transformation.throttleFirst.ThrottleActivity"></activity>
        <activity android:name=".operator.transformation.map.FlatMapActivity">
        </activity>

        <activity android:name=".operator.transformation.map.switch_map.SwitchMapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".operator.transformation.map.switch_map.SwitchMapSecondActivity" />
    </application>

</manifest>